body {
    background-color: rgb(28, 210, 235);
}

h1 {
    margin: auto;
    padding: 10px;
    text-align: center;
}

p {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

footer{
    margin: auto;
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    background-color: rgb(118, 75, 238);
    color: honeydew;
    border-radius: 20px;
    justify-content: center;
}

#descripcion{
    text-align: center;
}

#contenedor-bienvenida {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    background-color: rgb(118, 75, 238);
    color: honeydew;
    border-radius: 20px;
    justify-content: center;
}

#tablero {
    margin: 50px;
    background-color: rgb(118, 75, 238);
}

#resultado-final {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    background-color: rgb(118, 75, 238);
    color: honeydew;
    border-radius: 20px;
    justify-content: center;
}
.cuadro {
    opacity: 0;
    transition: opacity ease 0.2s;
    width: auto+30px;
}

.columna-juego {
    border: 3px solid black;
}

.fila-juego {
    height: 25vh;
}

#boton-empezar {
    margin: 10px;
}

#boton-reiniciar {
    margin: 10px;
}

.oculto {
    display: none;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

.negro {
    background-color: black;
}

.blanco {
    background-color: white;
}

.azul {
    background-color: blue;
}

.completo{
    background-color: grey;
}
